arch/aarch64 linguist-language=Shell
arch/armv6zk linguist-language=Shell
arch/genome linguist-language=Shell
arch/powerpc linguist-language=Shell
arch/powerpc64 linguist-language=Shell
arch/powerpc64le linguist-language=Shell
arch/riscv64 linguist-language=Shell
arch/x86-64 linguist-language=Shell

behave/check linguist-language=Shell
behave/classify linguist-language=Shell
behave/clean linguist-language=Shell
behave/construct linguist-language=Shell
behave/contact linguist-language=Shell
behave/die linguist-language=Shell
behave/envenomate linguist-language=Shell
behave/fetch linguist-language=Shell
behave/gnu linguist-language=Shell
behave/initialize linguist-language=Shell
behave/log linguist-language=Shell
behave/patch linguist-language=Shell
behave/release linguist-language=Shell
behave/require linguist-language=Shell
behave/verify linguist-language=Shell

flags/atlanticus linguist-language=Shell
flags/bennettae linguist-language=Shell
flags/marginatus linguist-language=Shell
flags/species linguist-language=Shell

stages/chroot/backup linguist-language=Shell
stages/chroot/check linguist-language=Shell
stages/chroot/construct linguist-language=Shell
stages/chroot/enter linguist-language=Shell
stages/chroot/prepare linguist-language=Shell
stages/chroot/resolv linguist-language=Shell
stages/chroot/root linguist-language=Shell
stages/chroot/run linguist-language=Shell
stages/chroot/strip linguist-language=Shell
stages/chroot/variables linguist-language=Shell
stages/chroot/vkfs linguist-language=Shell

stages/cross/check linguist-language=Shell
stages/cross/configure linguist-language=Shell
stages/cross/envenomate linguist-language=Shell
stages/cross/img linguist-language=Shell
stages/cross/prepare linguist-language=Shell
stages/cross/run linguist-language=Shell
stages/cross/strip linguist-language=Shell
stages/cross/variables linguist-language=Shell

stages/toolchain/backup linguist-language=Shell
stages/toolchain/check linguist-language=Shell
stages/toolchain/construct linguist-language=Shell
stages/toolchain/prepare linguist-language=Shell
stages/toolchain/run linguist-language=Shell
stages/toolchain/variables linguist-language=Shell
